# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# Data and CSV logs
scan_*.csv

# OS-specific
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
